<%layout('partials/boilerplate')-%> 

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1" style="margin-left: 45%;"><h2>M3-HUB</h2></span>
  </div>
</nav>
  <div id="slideshow">
    <img class="active" src="https://images.pexels.com/photos/159298/gears-cogs-machine-machinery-159298.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="Slideshow Image 1" />
    <img src='https://images.pexels.com/photos/583846/pexels-photo-583846.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940' alt="Slideshow Image 2" />

    <img src="https://images.pexels.com/photos/3862384/pexels-photo-3862384.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Slideshow Image 5" />
</div>
<div class="container" style=" width:50%; margin-top: 10%;">
  <div class="row justify-content-between">
    
  <div class="col" style="background-color:rgb(145, 126, 182); padding-top: 4%; opacity: 0.92; border:solid thin black ;">
    <h3>create account</h3>
    <p>for new students who want enjoy the world of engineering

    </p>
<a class="btn btn-primary btn-lg" style="margin-bottom:3%;"  href="/register">Register</a></div>
<div class="col" style="background-color:rgb(54, 212, 160); padding-top: 4%; opacity: 0.92; border:solid thin black">
  <h3>Login</h3>
  <p>those who already have registered</p>
  <form method="post" name="register" action="/">
   <div class="mb-3"> <label for="username">username</label>   
   <input name="username" type="text" ></div>
<div class="mb-3">
   <label for="password">password <label>
   <input name="password" type="password"></div>
   <div class="mb-3">
   <button class="btn btn-danger btn-lg" style="margin-top:2%;" >login</button>
  </div>
   </form>


</div>
</div>
</div>